<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fragments player</title>
</head>
<body>
<!--##### PlayersHEADER ######-->
<header th:fragment="playersHeader" class="py-3 my-3 border-bottom bg-warning">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div>
            <a href="/" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none " aria-expanded="false">
                <img class="w-100" src="/images/logo_federazione.png" alt="logo"/>
            </a>
        </div>
        <div class="d-flex justify-content-end">
            <input type="text" class="me-5 form-control align-self-center" placeholder="Search Player..." aria-label="Search"
                   id="playerSearchInput" oninput="filterPlayer()">
            <div th:if="${userAuthDetails}" class="flex-shrink-0 dropdown">
                <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-light" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="${globalUser.getPicPath()}" alt="userPic" width="50" height="50" class="rounded-circle">
                    <span class="d-inline-block text-light" th:text="${userAuthDetails.username}">username</span>
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="/registered/profile">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
            <div th:unless="${userAuthDetails}" class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/login'">Login</button>
                <button type="button" class="btn btn-light" onclick="location.href='/register'">Sign-up</button>
            </div>
        </div>
    </div>
</header>
</body>
</html>